# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Variables privadas
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editor y archivos temporales
.vscode/
.idea/
*.swp
*.swo
*~
*.tmp
*.log

# Videos descargados
caso1-descargador/downloads/

# Evidencias privadas del Caso 2
evidencias/caso2/02-consulta-onpe-no-miembro.png
evidencias/caso2/04-registro-miembro-mesa.png
evidencias/caso2/05-excel-miembros-mesa.png
