# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Entornos virtuales
.venv/
venv/
env/

# Variables privadas
.env
.env.*

# Sistema operativo
.DS_Store
Thumbs.db
Desktop.ini

# Editor y archivos temporales
.vscode/
.idea/
*.swp
*.swo
*~
*.tmp
*.log

# Videos descargados
caso1-descargador/downloads/
